# default for all files
*  @dhower-qc @ThinkOpenly

# eclipse Xtext project owned by Ajit Dingankar
tools/eclipse @adingank-qualcomm @dhower-qc

# Renovate owned by Jordan Carlin
renovate.json5 @jordancarlin
